<div id="register">
    <div class="container">
        <div id="register-row" class="row justify-content-center align-items-center">
            <div id="register-column" class="col-md-6">
                <div id="register-box" class="col-md-12">
                    <form id="register-form" class="form" [formGroup]="formRegister">
                        <h3 class="text-center text-info">Cadastro</h3>
                        
                        <div class="form-group">
                            <label for="username" class="text-info">Email:</label><br>
                            <input type="text" name="username" id="username" class="form-control" formControlName="email">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Senha:</label><br>
                            <input type="text" name="password" id="password" class="form-control" formControlName="password">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Repetir a senha:</label><br>
                            <input type="text" name="password" id="password" class="form-control" formControlName="confirmPassword">
                        </div>
                        <div class="form-group">
                            
                            <button class="btn btn-info" (click)="register()">Cadastrar</button>
                        </div>
                        
                        <div id="register-link" class="text-right">
                            <button class="btn btn-info" (click)="loginScreen()">Tela Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>