<div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
    <a href="#"><i class="fas fa-chart-pie"></i> Overview</a>
    <a href="#"><i class="fas fa-ticket-alt"></i> Tickets</a>
    <a href="#"><i class="fas fa-lightbulb"></i> Ideas</a>
    <a href="#"><i class="fas fa-address-book"></i> Contacts</a>
    <a href="#"><i class="fas fa-user"></i> Agents</a>
    <a href="#"><i class="fas fa-newspaper"></i> Articles</a>
</div>

<div id="main">
    <button class="openbtn" (click)="openNav()">☰</button>
    <h2>Overview</h2>

    <div class="row">

        <div class="col-3">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="text-center">Unresolved</h2>

                    <h1 class="text-center">60</h1>
                </div>
            </div>
        </div>


        <div class="col-3">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="text-center">Overdue</h2>

                    <h1 class="text-center">16</h1>
                </div>
            </div>
        </div>

        
        <div class="col-3">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="text-center">Open</h2>

                    <h1 class="text-center">43</h1>
                </div>
            </div>
        </div>


        
        <div class="col-3">

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h2 class="text-center">On Hold</h2>

                    <h1 class="text-center">64</h1>
                </div>
            </div>
        </div>

    </div>

</div>